
.btn {
    font-size: 22px;
    background: #39b54a;
    font-family: 'Roboto', sans-serif;
    height: auto;
    border-radius: 4px;
    outline: none;
    width: fit-content;
    padding: 6px 12px;
    color: #FFF;
    border: none;
    cursor: pointer;
    margin: 10px 5px 10px 0;
}