.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 182px;
  width: 300px;
  border-radius: 4px;
  border: 2px solid #e6d9d9;
  padding: 20px;
}
