.input {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: none;
  font-weight: 600;
  height: 20px;
  min-height: 20px;
  padding: 4px 8px;
  resize: none;
  max-height: 256px;
  margin: 0 10px;
}