.title {
    border-radius: 3px;
    color: #000000;
    display: block;
    flex: 1 0 auto;
    margin: 2px 8px 8px 8px;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    user-select: none;

    &:hover {
        background-color: darkorange;
    }
}

.inputBox {
    flex-direction: column;
    display: flex;
}